<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-rating [rate]='0.5' [edit]='true' (rated)="onRated($event)"></app-rating>
  <app-rating [rate]='1'></app-rating>
  <app-rating [rate]='1.5'></app-rating>
  <app-rating [rate]='2'></app-rating>
  <app-rating [rate]='2.5'></app-rating>
  <app-rating [rate]='3'></app-rating>
  <app-rating [rate]='3.5'></app-rating>
  <app-rating [rate]='4'></app-rating>
  <app-rating [rate]='4.5'></app-rating>
  <app-rating [rate]='5' [edit]='true'></app-rating>
</div>
